data/*.csv
data/*.pkl
/1 - Data preparation/.ipynb_checkpoints
/2 - Model training/.ipynb_checkpoints
/3 - Testing/.ipynb_checkpoints
/1 - Data preparation/__pycache__
/2 - Model training/__pycache__
*.png
*.zip
